<p>list-user works!</p>

<a routerLink="/users/create">add</a>

<table border="1 solid">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let user of userList; index as i">
  <td>{{user.id}}</td>
  <td>{{user.name}}</td>
  <td>{{user.address}}</td>
  <button><a [routerLink]="['/users/edit/',user.id]">Edit</a></button>
  <button (click)="deleteUser(user.id)">Delete</button>
  <button><a [routerLink]="['/users/view/',user.id]">View</a></button>
</tr>

</table>
